@import './general_style.css';

.modal {
    top: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(20, 20, 20, .9);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    gap: 1rem;
}

.modal .modal-ctn {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 2px 5px #333;
    width: 90%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* min-height: max-content; */
    word-wrap: break-word;
    position: relative;
    animation-name: modalopen;
    animation-duration: 0.5s;
    overflow: auto;
}


.modal-title {
    width: 100%;
    text-align: center;
    background: var(--button-background);
    color: var(--foreground-color);
    padding: 1rem;
    text-transform: uppercase;
    font-size: calc(var(--font-size) * 2);
}

.close-modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--font-size) * 5);
    width: calc(var(--font-size) * 5);
    height: calc(var(--font-size) * 5);
    text-align: center;
    font-weight: 800;
    background: #000;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.close-modal-button:hover {
    box-shadow: 0 0 4px 4px #bbb;
}

#exam-modal {
    animation: exam-active 1s ease-out;
}

/* READ ME  */

#readme-ctn {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 0;
}

#readme-ctn p, #readme-ctn li, #readme-ctn a {
    font-size: calc(var(--font-size) * 1.2);
}

#readme-ctn div {
    padding: 1rem;
}

#readme-ctn .readme-dark {
    background: #d9d9d9;
}

#readme-ctn ul {
    padding-left: calc(var(--font-size) * 1);
    list-style:disc;
}

#error-modal-ctn {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ESTADISTICAS */

#statistics-ctn {
    flex-direction: column;
    width: max-content;
    height: max-content;
    /* gap: 2rem; */
    overflow-y: auto;
}

#statistics-ctn p {
    text-align: center;
    width: 80%;
    margin: auto;
}

#statistics-ctn .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

#statistics-ctn .container a  {
    width: 30%;
    text-decoration: none;
    padding: .5rem;
    cursor: pointer;
    font-size: calc(var(--font-size) * 1);
    border-radius: 5px;
    border: #000 solid 2px;
    box-shadow: 0 0 4px 1px #333;
    background-color: var(--button-background);
    color: var(--foreground-color);
    font-weight: 600;
    height: 6rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#statistics-ctn a:hover {
    box-shadow: 0 0 6px 5px #222;
}

#statistics-ctn .quiz-ctn {
    max-width: 70%;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 5px;
    border: #000 solid 2px;
    box-shadow: 0 0 4px 1px #333;
    background-color: var(--instagram);
    color: #fff;
    font-weight: 800;

    a:hover {
        box-shadow:unset;
    }
}
#statistics-ctn .quiz-ctn:hover {
    box-shadow: 0 0 6px 5px #222;
}


/*  -------------- Speciality Adds ----------------------  */

#hsmlp-ctn {
    max-width: 80%;

    .modal-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: none;
        gap: 3rem;

        h3 {
            font-size: calc(var(--font-size) * 2);
        }

        a {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            border-radius: 10px;
            color: #fff;
            font-weight: 600;
            transition: .5s;
        }

        a:hover {
            color: var(--instagram);
        }
    }
}

.speciality-add {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
    "recomendation img"
    "check check"
    "links links";
    padding: 1rem;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    grid-area: img;
}
.checks {
    grid-area: check;
}

.checks i {
    cursor: default;
}

.recomendation {
    grid-area: recomendation;
    /* margin: auto; */
    display: flex;
    justify-content: center;
}

.recomendation h1 {
    font-weight: 500;
    font-size: calc(var(--font-size) * 2);
    color: #fff;
    background-color: var(--button-background);
    padding: 1rem;
    max-width: 80%;
    border-radius: 10px;
}

.recomendation h4 span {
    font-weight: 600;
}

.links {
    grid-area: links;
}

.links a {
    background-color: var(--instagram);
    border-radius: 10px;
    color: white;
    padding: 10px;

    i {
        color: white;
    }
}

.links a:hover {
    background-color: white;
    color: var(--instagram) !important;
    box-shadow: 0 0 2px 2px var(--instagram);
    transition: 0.3s;
    i {
        color: var(--instagram);
    }
}

.speciality-add .img img {
    max-width: 50%;
    max-height: 100%;
}
.speciality-add ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    width: 80%;
}

.speciality-add ul li {
    display: flex;
    gap: .3rem;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.speciality-add ul li i {
    background-color: var(--correct-color);
    padding: .5rem;
    border-radius: 50%;
    color: #eee;
}
.speciality-add ul li p {
    width: 90%;
    font-size: calc(var(--font-size) * 1);
    text-align: left;
}

.links {
    gap: 1rem;
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    height: 100%;
}

/* -------------- QUIZ MODAL -------------------- */
#quiz-modal-ctn {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;

    p, a {
        padding-inline: 1rem;
        text-align: center;
    }
    a {
        padding: 1rem;
        background-color: var(--button-background);
        width: max-content;
        margin: auto;
        border-radius: 5px;
        color: #eee;
        font-weight: 600;
    }
}



/* -------------- ERROR modal -------------------- */
#error-modal-ctn h3 {
    background-color: var(--error-color);

}
#error-modal-ctn p {
    padding: 1rem;

}

/*  REPORT QUESTION */

#report-question-modal-ctn {
    /* max-width: 90%; */
    height: max-content;
}

.modal-ctn {
    max-width: 60%;
}

#report-question-modal-ctn form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

#report-question-modal-ctn form div {
    display: flex;
    flex-direction: column;
    font-size: calc(var(--font-size) * 1.4);
}

#report-question-modal-ctn form div h2 {
    width: 100%;
    text-align: center;
    background: var(--button-background);
    padding: 1rem;
    color: var(--foreground-color);
}

#report-question-modal-ctn form div p {
    font-size: calc(var(--font-size) * 1.2);
}
#report-question-modal-ctn form div p span {
    background-color: var(--icon-button-fg);
    font-weight: 700;
}

#report-question-modal-ctn form div label {
    font-size: calc(var(--font-size) * 1.4);
    font-weight: 600;
}

#report-question-modal-ctn form div label:hover{
    background: transparent;
}

#report-question-modal-ctn form div input {
    width: 60%;
}

#report-question-modal-ctn form div input:focus {
    box-shadow: 0 0 2px 2px #333;
}

#report-question-modal-ctn form button {
    background-color: var(--icon-button-fg);
    color: var(--icon-button-bg);

}
#report-question-modal-ctn form div textarea {
    width: 100%;
    min-height: 5rem;
    padding: .6rem;
    font-size: calc(var(--font-size) * 1.1);
}

#report-question-modal-ctn form div textarea:focus {
    box-shadow: 0 0 2px 2px #333;
}

#report-question-modal-ctn form #reported-question-info {
    display: none;
}

#report-question-alert-p {
    background-color: var(--button-background);
    color: white;
    font-weight: 500;
    border-radius: 10px;
    padding: 1rem;
}

#report-question-alert-p span {
    color: yellow;
    font-weight: 600;
}


/* PATH LIST MODAL  */
#paths-list-modal-ctn {
    padding: 1rem;
}

#paths-list-modal-ctn p {
    padding: 1rem;
    font-size: calc(var(--font-size) * 1.4);
}

#paths-list-modal-ctn p span {
    background: var(--icon-button-fg);
    font-weight: 600;
}

#paths-list-modal-ctn p #report-question-in-paths-list-button {
    cursor: pointer;
    transition: .2s;
    padding: .1rem;
    border-radius: 10px;
}

#paths-list-modal-ctn p #report-question-in-paths-list-button:hover {
    background-color: var(--icon-button-bg);
    color: var(--icon-button-fg);
}

#paths-list-modal-ctn ul {
    padding: 0;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 0 4px 1px #444;
    background-color: #ddd;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: calc(var(--font-size) * 1.3);
    text-transform: uppercase;
}

#paths-list-modal-ctn ul li {
    padding: 1rem;
    text-align: center;
}

#paths-list-modal-ctn ul .path-dark {
    background-color: #bbb;
}

@keyframes exam-active {
    0% {
        transform: translateX(70%);
        opacity: .95;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes modalopen {
    from {margin-top: -300px; opacity: 0;}
    to {margin-top: 0; opacity: 1;}
}

@media (max-width: 767px) {
    #statistics-ctn a {
        width: inherit;
    }

    #report-question-modal-ctn form div input {
        width: 100%;
    }

    .modal-ctn {
        max-width: 90% !important;
        max-height: 70vh;
    }

    .hsmlp_logo {
        flex-basis: 100%;
    }

    .speciality-add {
        padding: .4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-areas: 
        "recomendation recomendation"
        "check check"
        "links links"
        "img img";

        ul {
            width: 100%;
        }
        .modal-title {
            gap: 1rem;
        }
    }
}